{% extends 'base.html' %}

{% block content %}

<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">
            {% if user.is_authenticated %}
            <h1>Witaj {{user.username}}</h1>
            {% else %}
            <h1>Witaj</h1>
            {% endif %}
        </h1>

        <p class="lead">All investments in one place!</p>
        <hr class="my-4">
        <p>You've found the right place! Checkout the investments near you będziesz bogaty kuuuuuurwa!!!!</p>
        <a class="btn btn-warning btn-lg" href="/cafes" role="button">Show Me!</a>
    </div>
    <br>
</div>
{% for item in user.investment.all %}
    <div class="investment-card">
    <div class="card mb-1" >
      <div class="row no-gutters">
        <div class="col-md-2">
          <img src="{{ item.img.url }}" class="card-img" alt="...">
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">{{ item.about }}</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
    </div>
{% endfor %}

{% endblock %}