{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">
            {% if user.is_authenticated %}
            <h1>Witaj {{user.username}}</h1>
            {% else %}
            <h1>Witaj</h1>
            {% endif %}
        </h1>

        <p class="lead">Wszystkie inwestycje w jednym miejscu!</p>
        <hr class="my-4">
        <p>Nigdy nie będzie lepszego czasu na inwestycje.</p>
    </div>
    <br>

    <form action="../" method="GET">
        <div class="input-group investment-card">
            <input type="search" name="location" class="form-control rounded" placeholder="Wpisz miejscowość..." aria-label="Search"
                   aria-describedby="search-addon"/>
            <button type="submit" class="btn btn-outline-primary">szukaj</button>
        </div>
    </form>
</div>

{% for item,i in investments %}
<div class="investment-card">
    <a href="{{ item.get_absolute_url }}">
        <div class="card mb-1">
            <div class="row no-gutters">
                <div class="col-md-2">
                    {% if i.img.url is not null %}
                    <img src="{{ i.img.url }}" class="card-img" alt="investment profile photo">
                    {% else %}
                    <img src="{% static 'images/no-image-icon.jpg' %}" class="card-img"
                         alt="investment default photo">
                    {% endif %}
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <p class="card-text">{{ item.about }}</p>
                        <p class="card-text"><small class="text-muted">Created {{ item.date }}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>

{% endfor %}
{% endblock %}