<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{% url 'main:home' %}">Invest.io</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'main:home' %}">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/addInvestment">+ Add Investment</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/login">+ Add Investment</a>
            </li>
            {% endif %}
            
            {% if user.is_authenticated %}
            <div class="btn-group dropleft">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    {% load static %}
                    <img style="width: 20px" src="{% static 'images/user_default.png' %}" alt="user default photo">
                    <!--User icons created by Smashicons - Flaticon-->
                    {{user.username}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="#">Dashboard</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </li>
            </div>
            {% else %}
            <li class="nav-item my-2 my-lg-0 mr-auto">
                <a class="nav-link" href="/login">Login</a>
            </li>
            {% endif %}
        </ul>


    </div>
</nav>