{% extends "base.html" %}

{% block title %}
Login Here
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="d-flex justify-content-center">
<div class="jumbotron forms-margin-padding">
    <form method="post" class="form-group">
        {% csrf_token %}
        {{form|crispy}}
        <p>Don't have an account? Create one <a href="/register/">HERE</a></p>
        <div class="btn-submit-form">
        <button type="submit" class="btn btn-success">Login</button>
        </div>
    </form>
</div>
</div>

{% endblock %}