{% extends "base.html" %}

{% block title %}Create an Account{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

<div class="d-flex justify-content-center ">
<div class="jumbotron forms-margin-padding">
    <h1>Register</h1>
    <form method="post" class="form-group">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="btn-submit-form">
        <button type="submit" class="btn btn-success">Register</button>
        </div>
    </form>
</div>
</div>

{% endblock %}