a:link {
  text-decoration: none;
    color: #666769;
}

a:visited {
  text-decoration: none;
    color: #666769;
}

a:hover {
  text-decoration: none;
    color: #737475;
}

a:active {
  text-decoration: none;
    color: #737475;
}

.user-investments-cards{
    margin: 100px 0px 0px 0px;
}
.forms-margin-padding{
    margin: 100px 0px;
    padding: 20px 32px;
}

.btn-submit-form{
    text-align: right
}

.investment-card {
    width: 50%;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.footer{
}

.carousel-miniatures-size{
    width: 120px !important;
    height: 35px !important;
    }

 .card-profile-photo{
     margin: auto !important;
     display: block !important;
 }

.btn-add-investment {
    background-color: #efab0a;
}

.link-add-investment {
    color: black;
}

.navbar {
    font-size: 1rem;
    padding-top:0px;
    padding-bottom:0px;
}

.jumbotron {
    background-image: url("../../static/images/5.jpg");
    background-size:cover;
    background-color:#efab0a;
}

