a:link {
  text-decoration: none;
    color: #666769;
}

a:visited {
  text-decoration: none;
    color: #666769;
}

a:hover {
  text-decoration: none;
    color: #737475;
}

a:active {
  text-decoration: none;
    color: #737475;
}

.user-investments-cards{
    margin: 100px 0px 0px 0px;
}
.forms-margin-padding{
    margin: 100px 0px;
    padding: 20px 32px;
}

.btn-submit-form{
    text-align: right
}

.investment-card {
    width: 80%;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.footer{
}